<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.YonghuMapper">
 
<sql id="whl">
	<where>
		<if test="y_name !=null and y_name !=''"> and y_name like "%"#{y_name}"%"</if>
		<if test=" y_createEndTime !=null and y_createEndTime !='' "> and y_createTime &lt; #{y_createEndTime} </if>
		<if test=" y_createStartTime !=null and y_createStartTime !='' "> and y_createTime &gt; #{y_createStartTime}</if>
		<if test="y_isLockout !=null and y_isLockout !=''"> and y_isLockout=#{y_isLockout}</if>
	</where>

</sql>
 
	<!-- 按条件分页查询用户数据信息 -->
	<select id="selectYonghuAll" parameterType="fenye" resultType="yonghu">
		SELECT y_id,y_name,y_resetPassword,y_password,y_email,y_lastLoginTime,y_tel,y_createTime,y_pasdWrongShu,y_isLockout,y_weight,y_yanzhengma
		 FROM yonghu
		 <include refid="whl"></include>
		 limit #{page},#{pageSize}
	</select>
	<!-- 查询用户数据信息总条数  -->
	<select id="selectYonghuCount"   resultType="_int">
		SELECT count(y_id) FROM yonghu
		 <include refid="whl"></include>
	</select>
	<!-- 删除用户信息 -->
	<delete id="deleteYonghu" parameterType="yonghu">
		delete from yonghu
			<where>
				<if test="y_id !=null and y_id !=''">
					y_id=#{y_id}
				</if>
			</where>
	</delete>
	
	<!-- 解锁,锁定用户 -->
	<update id="updateYonghujiesoByisLockout" parameterType="yonghu">
		update yonghu
			<set>
				<if test="y_isLockout != null">y_isLockout=#{y_isLockout}</if>
			</set>
			<where>
				<if test="y_id !=null and y_id !=''">
					y_id=#{y_id}
				</if>
			</where>
	</update>
	<!--修改用户信息  -->
	<update id="updateYonghu" parameterType="yonghu">
		update yonghu
			<set> 
				<if test="y_name != null and y_name != ''">y_name=#{y_name},</if> 
				<if test="y_email != null and y_email != ''">y_email=#{y_email},</if>
				<if test="y_tel != null and y_tel != ''">y_tel=#{y_tel}</if>
				 
			</set>
			<where>
				<if test="y_id !=null and y_id !=''">
					y_id=#{y_id}
				</if>
			</where>
	</update> 
	<!-- 新增用户信息 -->
	<insert id="insertYonghu" parameterType="yonghu">
		insert into yonghu(y_name,y_password,y_email,y_tel)
		values(#{y_name},#{y_password},#{y_email},#{y_tel})
	</insert>
	
	
</mapper>